*.nsys-rep
*.ncu-rep
*.prof
*.png
*.npy
*.log
*.out
.DS_Store

__pycache__/
__jax_cache__/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
build/
dist/
doc/
install/
prof/
*.egg-info/
tests/output/
tests/IGFEM_ref/
tests/__pycache__/
jax-trace
jax-trace_new
PIGFEM*
.env
