numpy
numba
meshio
# CPU-only version
#jax
# GPU version with CUDA 12
#jax[cuda12]
#cupy-cuda12x
# GPU version with CUDA 13 (recommended)
#jax[cuda13]
#cupy-cuda13x
jaxopt
libigl
matplotlib
mpi4py
fenics-basix
psutil
flax
# Intel MKL Pardiso solver (optional)
#pypardiso
